<%- include('../templates/head') %>
<link rel="stylesheet" href="/static/css/404_error.css">

<section class="container notfound">
  <h1>404 - Página no encontrada</h1>
  <p>Lo sentimos, la página que buscas no existe.</p>
  <a class="btn" href="/">Volver al inicio</a>
</section>

<%- include('../templates/footer') %>
