  </main>
<footer class="site-footer">
  <div class="footer-container">

    <div class="footer-col">
      <h3>INTEGRA Health & Sport</h3>
      <p>Centro de salud, deporte y rendimiento.</p>
    </div>

    <div class="footer-col">
      <h3>Contacto</h3>

      <a href="https://facebook.com" target="_blank">
        <span class="icon-circle">
          <img src="/static/icons/facebook.svg" alt="Facebook">
        </span>
        Facebook
      </a>

      <a href="https://instagram.com" target="_blank">
        <span class="icon-circle">
          <img src="/static/icons/instagram.svg" alt="Instagram">
        </span>
        Instagram
      </a>

      <a href="mailto:correo@gmail.com">
        <span class="icon-circle">
          <img src="/static/icons/gmail.svg" alt="Correo">
        </span>
        Gmail
      </a>

      <a href="https://wa.me/34600000000" target="_blank">
        <span class="icon-circle">
          <img src="/static/icons/whatsapp.svg" alt="WhatsApp">
        </span>
        WhatsApp
      </a>
    </div>

    <div class="footer-col">
      <h3>Dirección</h3>
      <p>Carrer de Francesc Tàrrega, 16, Sant Andreu, Barcelona</p>
      <div class="footer-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2991.779790514915!2d2.1777818761913874!3d41.42229867129542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4bd2b40bcdfa9%3A0x59e0d23d7125b8ca!2sCentre%20Integra.%20centro%20de%20terapias!5e0!3m2!1ses!2ses!4v1764502087582!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    © 2025 Integra Health & Sport · Todos los derechos reservados
  </div>
</footer>

</body>
</html>
