<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Integra Health & Sport</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/global.css">
  <link rel="icon" href="/static/img/logo-small.png" type="image/jpeg" alt="integra">

</head>
<body>
    <header class="site-header">
  <div class="nav-container">
    <a href="/" class="brand">
      <div class="logo-circle">
  <img src="/static/img/logo-small.png" alt="Logo Integra">
</div>
      <span class="brand-text">INTEGRA Health & Sport</span>
    </a>

    <nav class="main-nav">
      <a href="/">Inicio</a>
      <a href="/nosotros">Nosotros</a>
      <a href="/servicios">Servicios</a>
      <a href="/contactos">Contacto</a>
    </nav>
  </div>
</header>
 <main>
